
<table>
   <thead>
   <tr>
     <th><h3><%= params[:name]%>'s Badges</h3></th>
   </tr>
 </thead>
</table>
<br><br>
<%@badges.each do |badge|%>
   <div id='users' style="margin-top:15px;">
          <div id='user' style="width:150px; float:left">
              <table >
                  	<tr>
			           <td><h4><%=badge.name%></h4></td>
			           <td><%=badge.hint%></td>
		       		</tr>
		      </table>
          </div>
          <div id="user_photo" style="margin-right:15px;float:left;">
              <%=image_tag badge.image.prefix+badge.image.sizes[0].to_s(base=10)+badge.image.name%>
          </div>
      </div>
      <div style="clear:both"></div>
<%end%>

