<table style="border-top: 1px solid #d4d4d4; border-bottom: 1px solid #d4d4d4; margin-right:10px">
	<tr><td colspan=2 align='center'>Badges</td></tr>
<%@badges.badges.each do |badge|%>
	<tr>
			<td><%=badge[1].name%></td>
			<td><%=badge[1].hint%></td>
	</tr>
<%end%>
</table>
