<ul class="nav nav-list">
              <li class="nav-header">FourSquare Search</li>
              <li><%=link_to "Search User", "users/search"%></li>
              <li><%=link_to "Search Venues", "venues/search"%></li>

</ul>



