
	<%@tips.items.each do |tips|%>
		<table style="border-top: 1px solid #d4d4d4; border-bottom: 1px solid #d4d4d4; margin-right:10px">
			<tr><td>
				<%=tips.text%>
			</td></tr>
			<tr><td align='right'>
				<%=tips.user.firstName%> <%=tips.user.lastName%>
			</td></tr>
		</table>
		<br><br>
	<%end%>
